{% extends "layout.html" %}

{% set title = "Main page" %}

{% block content %}
	<main>
		<section class="intro">
			<div class="container container--sm">
				<div class="intro__layout">
					<div class="intro__content">
						<div class="intro__text">
							<h1>Innovate and Engage	with Employee Ideas</h1>
							<p>Save costs and generate revenue from the collective wisdom of your frontline workers with the Sideways 6 platform.</p>
						</div>

						<div class="intro__buttons">
							<a href="#" class="button button--fill">Learn more</a>
						</div>
					</div>

					<div class="intro__image" data-parallax-image></div>
				</div>
			</div>
		</section>

		<section class="description">
			<h2>Sideways 6 is the most powerful	innovation platform for capturing	insights directly from your frontline</h2>
			<p>Capture 5 to 10 times more improvement ideas with the Sideways 6 approach, leveraging your existing communities on Yammer, Workplace by Facebook, Chatter, and Slack.</p>
		</section>

		<section class="features">
			<div class="container">
				<div class="features__layout">
					<h2>Drive Your Business Forward</h2>

					<div class="features__list">
						<div class="features__item features__item--left">
							<div class="features__item__image-container">
								<img src="images/features_img.png" alt="Feature">
							</div>

							<div class="features__item__text">
								<p>Improve Processes,<br>	Generate Savings and Additional	Revenue with Employee Ideas</p>
							</div>

							<div class="features__item__buttons">
								<a href="#" class="button button--red">Learn more</a>
							</div>
						</div>

						<div class="features__item features__item--center">
							<div class="features__item__image-container">
								<img src="images/features_img2.png" alt="Feature">
							</div>

							<div class="features__item__text">
								<p>Nurture a Culture of Innovation and Improvement</p>
							</div>

							<div class="features__item__buttons">
								<a href="#" class="button button--red">Learn more</a>
							</div>
						</div>

						<div class="features__item features__item--right">
							<div class="features__item__image-container">
								<img src="images/features_img3.png" alt="Feature">
							</div>

							<div class="features__item__text">
								<p>Give Employees a Voice,<br> Show Them that They Matter</p>
							</div>

							<div class="features__item__buttons">
								<a href="#" class="button button--red">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="logos">
			<div class="container">
				<div class="logos__layout">
					<h2>Sideways 6 powers innovation and engagement<br>at some of the world’s best companies.</h2>

					<ul class="logos__list">
						<li class="logos__list__item">
							<img src="images/airways_img.png" alt="British Airways">
						</li>
						<li class="logos__list__item">
							<img src="images/trains_img.png" alt="Virgin Trains">
						</li>
						<li class="logos__list__item">
							<img src="images/sainsbury_img.png" alt="Sainsbury's">
						</li>
						<li class="logos__list__item">
							<img src="images/gas_img.png" alt="British Gas">
						</li>
						<li class="logos__list__item">
							<img src="images/health_img.png" alt="Nuffield Health">
						</li>
						<li class="logos__list__item">
							<img src="images/water_img.png" alt="Severn Trent Water">
						</li>
						<li class="logos__list__item">
							<img src="images/group_img.png" alt="Page Group">
						</li>
						<li class="logos__list__item">
							<img src="images/bp_img.png" alt="BP">
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="sides">
			<div class="sides__item sides__item--fill">
				<div class="sides__item__image"></div>

				<div class="sides__item__text">
					<div class="sides__item__text__wrap">
						<h2>British Gas saves £3.4 million from a single idea</h2>
						<p>British Gas actively listen to their frontline workers’ ideas for improving the business. Engineers and call centre staff alike share their insights from the frontline and help the business generate £20m in business value.</p>
						<p>“The feedback and insight we get from all on here is of huge importance and helps my team shape the future of change and allows us to prioritise the work we have to do.”<span class="sides__item__text__author">– Business Change Department</span></p>
						<a href="#" class="button button--red">Learn more</a>
					</div>
				</div>
			</div>

			<div class="sides__item sides__item--reverse">
				<div class="sides__item__image">
					<div class="sides__item__image__buttons">
						<button type="button" class="button button--video" data-video-play data-video-id="WDkg3h8PCVU"></button>
					</div>
				</div>

				<div class="sides__item__text">
					<div class="sides__item__text__wrap">
						<img src="images/sides_img.png" alt="Side">
						<p>“I consider the Sideways6 team as strategic partners in our drive to be even more innovative as a business, and I‘m delighted with the results this far.”<span class="sides__item__text__author">– Head of Innovation</span></p>
					</div>
				</div>
			</div>
		</section>

		<section class="illustration illustration--fill">
			<div class="container container--sm">
				<h2 class="illustration__title">Vestibulum ullamcorper,<br>lacus vitae consequat tristique</h2>

				<div class="illustration__layout">
					<div class="illustration__image">
						<img src="images/testmonials_img2.jpg" alt="Illustration">
					</div>

					<div class="illustration__content">
						<div class="illustration__text">
							<div class="illustration__text__title">
								<p>Phasellus luctus faucibus enim, in efficitur lectus venenatis et. Duis varius tortor elit, vitae efficitur turpis molestie at. Aliquam eget molestie nibh.</p>
							</div>

							<div class="illustration__text__content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum varius odio id efficitur. Praesent in mattis urna. Sed dapibus tellus sagittis lectus aliquam elementum. Morbi pulvinar gravida neque eget sollicitudin.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum varius odio id efficitur. Praesent in mattis urna. Sed dapibus tellus sagittis lectus aliquam elementum. Morbi pulvinar gravida neque eget sollicitudin.</p>
							</div>
						</div>

						<div class="illustration__buttons">
							<a href="#" class="button button--red">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="stats">
			<div class="stats__list">
				<div class="stats__item stats__item--world">
					<div class="stats__item__layout">
						<p class="stats__item__counter">40+</p>
						<p class="stats__item__text">countries</p>
					</div>
				</div>

				<div class="stats__item stats__item--employees">
					<div class="stats__item__layout">
						<p class="stats__item__counter">650 000</p>
						<p class="stats__item__text">employees reached</p>
					</div>
				</div>

				<div class="stats__item stats__item--ideas">
					<div class="stats__item__layout">
						<p class="stats__item__counter">100 000+</p>
						<p class="stats__item__text">ideas</p>
					</div>
				</div>
			</div>
		</section>

		<section class="illustration illustration--reverse">
			<div class="container container--sm">
				<h2 class="illustration__title"><span class="illustration__title__hint">Pssst...</span>Vestibulum ullamcorper,<br>lacus vitae consequat tristique</h2>

				<div class="illustration__layout">
					<div class="illustration__image">
						<img src="images/testmonials_img2.jpg" alt="Illustration">
					</div>

					<div class="illustration__content">
						<div class="illustration__text">
							<div class="illustration__text__title">
								<p>Phasellus luctus faucibus enim, in efficitur lectus venenatis et. Duis varius tortor elit, vitae efficitur turpis molestie at. Aliquam eget molestie nibh.</p>
							</div>

							<div class="illustration__text__content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum varius odio id efficitur. Praesent in mattis urna. Sed dapibus tellus sagittis lectus aliquam elementum. Morbi pulvinar gravida neque eget sollicitudin.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum varius odio id efficitur. Praesent in mattis urna. Sed dapibus tellus sagittis lectus aliquam elementum. Morbi pulvinar gravida neque eget sollicitudin.</p>
							</div>
						</div>

						<div class="illustration__buttons">
							<a href="#" class="button button--red">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="about">
			<div class="container">
				<div class="about__layout">
					<h2>Learn more about innovation<br>	and engagement</h2>

					<div class="about__list">
						<div class="about__item">
							<div class="about__item__image-container">
								<img src="images/testmonials_img2.jpg" alt="Placeholder">
							</div>

							<div class="about__item__title">
								<p>Upcoming Events</p>
							</div>

							<div class="about__item__text">
								<p>Link to the event<br>Link to the event</p>
							</div>
						</div>

						<div class="about__item">
							<div class="about__item__image-container">
								<img src="images/testmonials_img2.jpg" alt="Placeholder">
							</div>

							<div class="about__item__title">
								<p>Sideways 6 Academy</p>
							</div>

							<div class="about__item__text">
								<p>Learn about innovating and<br> engaging with employee ideas. </p>
							</div>
						</div>

						<div class="about__item">
							<div class="about__item__image-container">
								<img src="images/testmonials_img2.jpg" alt="Placeholder">
							</div>

							<div class="about__item__title">
								<p>Sideways 6 Knowledge Bank</p>
							</div>

							<div class="about__item__text">
								<p>Tho world‘s largest database of<br> resources on employee ideas</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="improvement">
			<div class="improvement__layout">
				<h2>Improve and Engage with Employee Ideas</h2>
				<a href="#" class="button">Request a Demo</a>
			</div>
		</section>
	</main>
{% endblock %}