@font-face {
  font-family: 'Icon';
  src: url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "Icon", sans-serif;
  display: inline-block;
  vertical-align: top;

  &--facebook::before {
    content: "\e900";
  }

  &--twitter::before {
    content: "\e901";
  }

  &--linkedin::before {
    content: "\e902";
  }

  &--capterra::before {
    content: "\e903";
  }

  &--youtube::before {
    content: "\e904";
  }
}