h1, h2, h3 {
  font: 30px $fontMont;

  @include breakpoint($xs){
    font-size: 24px;
  }
}

h1 {
  color: white;
  margin-bottom: 15px;
}

h2 {
  color: $black;
  margin-bottom: 30px;
}

h3 {
  font-size: 14px;
  color: rgba($black, .5);
  text-transform: uppercase;
  margin-bottom: 15px;
}